* a:focus {
  outline: none; }
* a {
  color: inherit; }
* a:hover {
  color: rgba(0, 0, 0, 0.6); }
*:active {
  background-color: none; }

body {
  background: #ffffff;
  font-family: "Avenir"; }

h1 {
  color: #ffffff;
  font-weight: lighter; }

.section-articles {
  box-sizing: border-box;
  width: 100%;
  padding-top: 120px;
  margin: 0 auto; }
  @media (max-width: 650px) {
    .section-articles {
      padding-right: 20px;
      padding-left: 20px; } }

.select-category {
  margin: 0 auto;
  color: #3a3947;
  width: 50%;
  max-width: 700px; }

.content-container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto; }

.img-box {
  margin-top: 30px;
  margin-left: 10px;
  height: 200px;
  overflow: hidden; }
  .img-box img {
    width: 100%; }
  .img-box img:hover {
    opacity: 0.7; }
  @media (max-width: 1200px) {
    .img-box {
      height: 150px; } }
  @media (max-width: 950px) {
    .img-box {
      height: 200px; } }

.text-box {
  background: #eeedf2;
  padding: 30px;
  margin-top: -30px;
  margin-left: 10px;
  height: 300px; }
  @media (max-width: 650px) {
    .text-box {
      height: auto; } }

.show-wrapper {
  background-color: #ffffff; }

.wrapper {
  width: 100%;
  height: 100%;
  min-height: 100vh; }

.article-wrapper {
  padding-top: 160px;
  padding-bottom: 120px;
  margin: 0 auto;
  width: 85%;
  max-width: 980px; }
  .article-wrapper img {
    width: 100%; }
  @media (max-width: 1200px) {
    .article-wrapper {
      width: 95%; } }
  @media (max-width: 650px) {
    .article-wrapper {
      width: 85%; } }

.article-container {
  margin-top: 90px;
  margin-bottom: 100px;
  padding: 1px 60px;
  height: auto;
  text-align: justify;
  border-left: 4px solid #fc0043; }
  .article-container .title-font {
    font-size: 22px;
    text-align: left;
    line-height: 27px; }
  @media (max-width: 650px) {
    .article-container {
      margin-top: 20px;
      margin-bottom: 50px;
      padding: 15px;
      border: none; }
      .article-container .title-font {
        font-size: 17px;
        line-height: 23px; } }

.new-section {
  background: #eeedf2;
  height: 100vh;
  padding: 50px;
  overflow: scroll; }
  @media (max-width: 650px) {
    .new-section {
      padding: 15px; } }

.new-form-container {
  background: #ffffff;
  width: 100%;
  margin: 0 auto;
  height: 90%;
  padding: 70px;
  border-bottom: solid #fc0043 10px;
  border-right: solid #fc0043 10px; }
  @media (max-width: 650px) {
    .new-form-container {
      height: 100%;
      padding: 10px;
      border: none; } }

.nav-section {
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  border-bottom: 4px solid #fc0043;
  z-index: 1000;
  z-index: 1000000; }
  .nav-section h1 {
    font-size: 30px;
    color: #fc0043;
    line-height: 0; }
  .nav-section a {
    color: #3a3947; }
  @media (max-width: 950px) {
    .nav-section h1 {
      font-size: 23px; } }

.hide-nav {
  position: absolute;
  height: 50px;
  margin-bottom: 0px; }
  .hide-nav h1 {
    font-size: 25px;
    margin-left: 0;
    padding-left: 0; }
  @media (max-width: 950px) {
    .hide-nav h1 {
      font-size: 20px; } }

.category-select input.select-dropdown {
  padding-left: 20px;
  box-sizing: border-box;
  border-bottom: #eeedf2 1px solid;
  margin-bottom: 0;
  margin-top: 18px;
  color: #ffffff; }

.new-form-link {
  padding: 4px 7px;
  font-weight: bold;
  background-color: #ffffff;
  border-radius: 5px;
  border: none;
  margin-top: 18px;
  font-size: 20px; }

.caret {
  z-index: 1500;
  padding-right: 20px;
  color: #ffffff; }

.add-btn-container {
  text-align: right; }

.footer-section {
  width: 100%;
  height: 120px;
  margin-top: 100px; }

.footer-content-container {
  width: 50%;
  margin: 0 auto;
  text-align: center; }
  .footer-content-container .copyright {
    color: #fc0043;
    padding-top: 70px;
    font-weight: 500;
    font-size: 14px; }

#edit-modal {
  display: none; }

.delete-modal-container, .edit-modal-container {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 1000000;
  overflow: scroll; }

.edit-modal-container {
  background: rgba(0, 0, 0, 0.7);
  height: 100%; }

.edit-modal-content {
  margin: 0 auto;
  width: 90%;
  height: auto;
  max-width: 800px;
  padding: 50px 70px;
  background: #ffffff; }
  .edit-modal-content textarea {
    height: 150px; }
  @media (max-width: 650px) {
    .edit-modal-content {
      width: 100%;
      padding: 30px 40px; } }

.delete-modal-container {
  background: rgba(0, 0, 0, 0.7); }

.delete-modal-content {
  margin: 100px auto;
  width: 500px;
  height: 200px;
  border-radius: 10px;
  padding: 50px;
  background: white;
  text-align: center; }
  @media (max-width: 650px) {
    .delete-modal-content {
      width: 80%;
      height: auto;
      margin: 0 auto;
      margin-top: 50px; } }

.edit-form input, .new-form input {
  box-sizing: border-box;
  background: #eeedf2;
  border-bottom: #fc0043 3px solid;
  padding-left: 20px; }
.edit-form .input-title, .new-form .input-title {
  color: #3a3947;
  font-weight: bold; }
.edit-form textarea, .new-form textarea {
  border: #eeedf2 solid 3px;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 20px;
  height: 150px; }
.edit-form .select-wrapper input.select-dropdown, .new-form .select-wrapper input.select-dropdown {
  padding-left: 20px;
  box-sizing: border-box;
  background: #eeedf2;
  border-bottom: #fc0043 3px solid; }

.new-form textarea {
  height: 300px; }

.edit-btn, .back-btn, .submit-change-btn, .close-edit-modal-btn, .open-modal-btn, .delete-article, .close-modal-btn, .new-submit-btn, .new-back-btn {
  padding: 10px 20px;
  border-radius: 4px;
  margin: 10px;
  border: none;
  color: #ffffff;
  text-align: center;
  display: inline; }
  .edit-btn:hover, .back-btn:hover, .submit-change-btn:hover, .close-edit-modal-btn:hover, .open-modal-btn:hover, .delete-article:hover, .close-modal-btn:hover, .new-submit-btn:hover, .new-back-btn:hover {
    cursor: pointer; }
  @media (max-width: 650px) {
    .edit-btn, .back-btn, .submit-change-btn, .close-edit-modal-btn, .open-modal-btn, .delete-article, .close-modal-btn, .new-submit-btn, .new-back-btn {
      padding: 7px 15px;
      font-size: 12px; } }

.new-form-link-btn {
  margin-top: 20px;
  margin-bottom: 40px;
  color: #fc0043;
  background: none;
  border: none;
  font-weight: 500;
  font-size: 14px; }

.edit-btn, .back-btn {
  width: 80px;
  background-color: #ffffff;
  border: 2px #fc0043 solid;
  color: #fc0043; }

.back-btn {
  background-color: #fc0043;
  color: #ffffff; }

.submit-change-btn {
  background: #fc0043;
  width: 90px; }

.close-edit-modal-btn, .close-modal-btn, .new-back-btn {
  width: 90px;
  background: #ffffff;
  color: #fc0043;
  border: #fc0043 2px solid; }

.open-modal-btn {
  background: #fc0043;
  width: 50px;
  display: block; }

.delete-article {
  width: 90px;
  background: #fc0043; }

.new-submit-btn {
  background: #fc0043;
  width: 90px; }

.title-font {
  font-weight: bold;
  font-size: 16px;
  line-height: 22px; }
  @media (max-width: 1200px) {
    .title-font {
      font-size: 14px;
      line-height: 20px; } }

.date-font {
  font-size: 11px; }

.author-font {
  font-weight: bold; }

.category-font {
  color: #fc0043;
  font-weight: bold; }

.link-font {
  text-align: right; }

.icon-color {
  color: #ffffff; }

.icon-circle {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: #3a3947;
  text-align: center;
  font-weight: lighter; }

.logo-color {
  color: #232323; }

/*# sourceMappingURL=style.css.map */
