<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Wiki App</title>
  </head>
  <body>

    <div class="">
      <p><%= articles[0].title %></p>
      <img src="<%= articles[0].img_url %>" alt="">
    </div>

  </body>
</html>
