<!DOCTYPE html>
<html>
  <head>
    <%- include ./partials/head.ejs %>
  </head>
  <body>

    <section class="new-section">
      <div class="container">
        <div class="new-form-container">
          <form class="new-form" method="POST" action="/articles">
            <div class="row">
              <div class="col s6">
                <div class="input-title">
                  Title
                </div>
                <div>
                  <input type="text" name="article[title]" placeholder="Title">
                </div>
                <div class="input-title">
                  Image
                </div>
                <div>
                  <input type="text" name="article[img_url]" placeholder="Image URL">
                </div>
              <div class="input-title">
                Category
              </div>
              <div>
                <select class="" name="article[category]">
                  <option value="">Select Category</option>
                  <option value="Culture">Culture</option>
                  <option value="Art and Design">Art and Design</option>
                  <option value="Architecture">Architecture</option>
                  <option value="People">People</option>
                </select>
              </div>
              <div class="input-title">
                Author
              </div>
              <div>
                <input type="text" name="article[author]" placeholder="Name">
              </div>
            </div>

              <div class="col s6">
                <div class="input-title">
                  Text Field
                </div>
                <div>
                  <textarea name="article[content]" placeholder="Write your article"></textarea>
                </div>
              </div>
            </div> <!-- /row -->

            <div>
              <button class="new-submit-btn" type="submit">SUBMIT</button>
              <a href="/articles"><button class="new-back-btn" type="button" name="button">BACK</button></a>
            </div>
          </form>
        </div>
      </div>
    </section>

  </body>
</html>
