<!DOCTYPE html>
<html>
  <head>
    <%- include ./partials/head.ejs %>
  </head>
  <body>

    <form method="POST" action="/articles">
      <div>
        Title
      </div>
      <div>
        <input type="text" name="article[title]" placeholder="title">
      </div>
      <div>
        Image
      </div>
      <div>
        <input type="text" name="article[img_url]" placeholder="image url">
      </div>
      <div>
        Text Field
      </div>
      <div>
        <textarea name="article[content]" placeholder="write"></textarea>
      </div>
      <div>
        Category
      </div>
      <div>
        <select class="" name="article[category]">
          <option value="Culture">Culture</option>
          <option value="Art and Design">Art and Design</option>
          <option value="Architecture">Architecture</option>
          <option value="Food">Food</option>
        </select>
      </div>
      <div>
        Author
      </div>
      <div>
        <input type="text" name="article[author]" placeholder="name">
      </div>
      <div>
        <button type="submit">Submit</button>
      </div>
    </form>

  </body>
</html>
