// Base Color
$white: #ffffff;
$black: #0b0b0b;
$gray: #232323;
$light-gray: #e6e6ed;
$deep-purple-gray: #3a3947;
$dove: #f7e3e1;
$red: #fc0043;
$red-orange: #ff4800;
$orange: #ff8300;
$neon-yellow: #eaff0a;


// Color Palette


//Font
$base-font-size: 15px;
$bold-font-size: 17px;


// $base-font-family:

// Media query breakpoints
