// Base Color
$white: #ffffff;
$black: #0b0b0b;
$gray: #232323;
$light-gray: #eeedf2;
$deep-purple-gray: #3a3947;
$red: #fc0043;
$neon-yellow: #eaff0a;

//Font
$base-font-size: 15px;
$bold-font-size: 17px;

// $base-font-family:

// Media query breakpoints
$sm-media-width: 650px;

@mixin sm-media {
  @media (max-width:#{$sm-media-width}) {
    @content;
  }
}

@mixin md-media {
  @media (max-width: 950px) {
    @content;
  }
}

@mixin lg-media {
  @media (max-width: 1200px) {
    @content;
  }
}
