// Home page layout styling
.section-articles {
  box-sizing: border-box;
  width: 100%;
  padding-top: 120px;
  margin: 0 auto;
}

.content-container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

// .article-box {
//   height: 500px;
//   width: auto;
//   border: 1px $black solid;
//   position: relative;
//   overflow: hidden;
//   &:hover {
//     .caption-wrapper {
//       bottom: 0;
//     }
//   }
// }

.img-box {
  img {
    width: 100%;
  }
  margin-top: 30px;
  margin-left: 10px;
  height: 200px;
  overflow: hidden;
}

.text-box {
  background: $light-gray;
  padding: 30px;
  margin-top: -30px;
  margin-left: 10px;
  height: 300px;
}


// Show page layout styling
.show-wrapper {
  background-color: $deep-purple-gray;
}

.wrapper {
  width: 100%;
}

.article-wrapper {
  margin: 0 auto;
  width: 80%;
  max-width: 980px;
  img {
    width: 100%;
  }
  border-right: 50px solid $neon-yellow;
  border-bottom: 50px solid $neon-yellow;
}

.article-container {
  margin-top: -30px;
  padding: 60px;
  background-color: $white;
  text-align: justify;
}

// New page layout styling
.new-section {
  background: $deep-purple-gray;
  height: 100vh;
  padding: 50px;
}

.new-form-container {
  background: $white;
  width: 80%;
  margin: 0 auto;
  padding: 70px;
}
