// Home page layout styling
.section-articles {
  box-sizing: border-box;
  width: 100%;
  padding-top: 120px;
  margin: 0 auto;
}

.select-category {
  margin: 0 auto;
  color: $deep-purple-gray;
  width: 50%;
  max-width: 700px;
}

.content-container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.img-box {
  img {
    width: 100%;
  }
  margin-top: 30px;
  margin-left: 10px;
  height: 200px;
  overflow: hidden;
}

.text-box {
  background: $light-gray;
  padding: 30px;
  margin-top: -30px;
  margin-left: 10px;
  height: 350px;
}


// Show page layout styling
.show-wrapper {
  background-color: $deep-purple-gray;
}

.wrapper {
  width: 100%;
}

.article-wrapper {
  margin: 0 auto;
  width: 80%;
  max-width: 980px;
  img {
    width: 100%;
  }
  border-right: 50px solid $neon-yellow;
  border-bottom: 50px solid $neon-yellow;
}

.article-container {
  margin-top: -30px;
  padding: 60px;
  background-color: $white;
  text-align: justify;
}

// New page layout styling
.new-section {
  background: $deep-purple-gray;
  height: 100vh;
  padding: 50px;
  overflow: scroll;
}

.new-form-container {
  background: $white;
  width: 100%;
  margin: 0 auto;
  height: 90%;
  padding: 70px;
  border-bottom: solid $neon-yellow 40px;
  border-right: solid $neon-yellow 40px;
}
