// All buttons
.edit-btn, .back-btn, .submit-change-btn, .close-edit-modal-btn, .open-modal-btn, .delete-article, .close-modal-btn, .new-submit-btn, .new-back-btn {
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
  border: none;
  color: $white;
}

// Buttons in edit form
.edit-btn, .back-btn {
  width: 80px;
  background-color: $red;
}

.submit-change-btn {
  background: $red;
  width: 90px;
}

.close-edit-modal-btn {
  width: 90px;
  background: $deep-purple-gray;
}

.open-modal-btn {
  background: $red;
  width: 50px;
}

// Delete modal buttons
.delete-article {
  width: 90px;
  background: $red;
}

.close-modal-btn {
  width: 90px;
  background: $deep-purple-gray;
}

// New form button
.new-submit-btn {
  background: $red;
  width: 90px;
}

.new-back-btn {
  background: $deep-purple-gray;
  width: 80px;
}
