// All buttons
.edit-btn, .back-btn, .submit-change-btn, .close-edit-modal-btn, .open-modal-btn, .delete-article, .close-modal-btn, .new-submit-btn, .new-back-btn {
  padding: 10px 20px;
  border-radius: 4px;
  margin: 10px;
  border: none;
  color: $white;
  text-align: center;
  display: inline;
  &:hover {
    cursor: pointer;
  }
  @include sm-media {
    padding: 7px 15px;
    font-size: 12px;
  }
}

// ADD NEW btn
.new-form-link-btn {
  margin-top: 20px;
  margin-bottom: 40px;
  color: $red;
  background: none;
  border: none;
  font-weight: 500;
  font-size: 14px;
}

// Buttons in edit form
.edit-btn, .back-btn {
  width: 80px;
  background-color: $white;
  border: 2px $red solid;
  color: $red;
}

.back-btn {
  background-color: $red;
  color: $white;
}

.submit-change-btn {
  background: $red;
  width: 90px;
}

.close-edit-modal-btn, .close-modal-btn, .new-back-btn {
  width: 90px;
  background: $white;
  color: $red;
  border: $red 2px solid;
}

.open-modal-btn {
  background: $red;
  width: 50px;
}

// Delete modal buttons
.delete-article {
  width: 90px;
  background: $red;
}

// New form button
.new-submit-btn {
  background: $red;
  width: 90px;
}
