.title-font {
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  @include lg-media {
    font-size: 14px;
    line-height: 20px;
  }
}

.date-font {
  font-size: 11px;
}

.author-font {
  font-weight: bold;
}

.category-font {
  color: $red;
  font-weight: bold;
}

.link-font {
  text-align: right;
}

.icon-color {
  color: $white;
}

.icon-circle {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: $deep-purple-gray;
  text-align: center;
  font-weight: lighter;
}

.logo-color {
  color: $gray;
}
