.title-font {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
}

.date-font {
  font-size: 11px;
}

.author-font {
  font-weight: bold;
}

.category-font {
  color: $red;
  font-weight: bold;
}

.link-font {
  text-align: right;
}

.icon-color {
  color: $white;
}

.icon-circle {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: $deep-purple-gray;
  text-align: center;
  font-weight: lighter;
}

.logo-color {
  color: #7a798e;
}
