// New form styles


// Edit form styles
.edit-form, .new-form {
  input {
    box-sizing: border-box;
    background: $light-gray;
    border-bottom: $neon-yellow 3px solid;
    padding-left: 20px;
  }
  .input-title {
    color: $deep-purple-gray;
    font-weight: bold;
  }
  textarea {
    border: $light-gray solid 3px;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 20px;
    height: 150px;
  }
  .select-wrapper input.select-dropdown {
    padding-left: 20px;
    box-sizing: border-box;
    background: $neon-yellow;
    border-bottom: $light-gray 3px solid;
  }
}

.new-form {
  textarea {
    height: 300px;;
  }
}
