<section class="footer-section">
    <div class="footer-content-container">
      <p class="copyright"><i class="fa fa-copyright fa-1x" aria-hidden="true"></i> Julia Kim</p>
    </div>
  </div> <!-- /container -->
</section>
