<section class="nav-section hide-nav">
  <div class="container">
    <div class="row">
      <div class="col s3">
        <a href="/articles"><h1>i<span class="logo-color">NSP</span>i<span class="logo-color">RED</span></h1></a>
      </div>
    </div>
  </div>
  <div class="add-btn-container container">
    <a href="/articles/new"><div class="new-form-link-btn">ADD NEW +</div></a>
  </div>
</section>
